@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
	font-family: 'Noto Sans', sans-serif;
}
header {
	margin-top: 20px;
	overflow: auto;
}
.page-header {
	margin-top: 80px;
}
.pagenation{
	margin-top: 40px;
}
.content{
	margin-top: 0;
}
.brand img {
	width: 60%;
	float: left;
}
.illust img {
	width: 20%;
	float: right;
}

h1:first-child,
.page-header:first-child{
	margin-top: 0 !important;
}

@media only screen and (max-width: 767px) {
	.brand img {
		width: 68%;
	}
	.illust img {
		width: 28%;
	}
}
