
<h4>Author</h4>
<p><strong>Yuko Honda Morita (yukop) : <a href="http://yukop.com">yukop.com</a></strong><br>
  飯能→東京→シリコンバレー。夫と猫2匹と暮らしてます。作ったり学んだり踊ったりするのが好き。<br>
  Born in Japan, living in California with my husband and two cats. "A bit of a geek and a bit of a geek fan and a bit of an artist." <a href="http://youtu.be/EBRMq2Ioxsc?t=1m23s">-></a></p>
<!-- Place this tag where you want the widget to render. -->
<div class="g-person" data-href="//plus.google.com/u/0/106825171914368756519" data-layout="landscape" data-rel="author"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<h4>Latest Posts</h4>

<h5><a href="/categories/ja/">Japanese</a></h5>
<ul class="posts">
  {% for post in site.categories["ja"] limit:7 %}
    <li><span>{{ post.date | date: "%F" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h5><a href="/categories/en/">English</a></h5>
<ul class="posts">
  {% for post in site.categories["en"] limit:7 %}
    <li><span>{{ post.date | date: "%F" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h4><a href="/archive.html">Chronological Archive</a></h4>
<h4><a href="tags.html">Tags</a></h4>
